<a href="https://colab.research.google.com/github/ye-wonee/python_basic/blob/main/%ED%95%9C%EC%96%91%EB%8C%80%ED%95%99%EA%B5%90_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EC%9D%84%EC%9C%84%ED%95%9C_%ED%8C%8C%EC%9D%B4%EC%8D%AC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello Python!")

Hello Python!

In [ ]:
# 여기는 주석
# 이곳에 코드를 설명해줍니다

"""
여기는 여러줄 주석입니다
.
.
.
"""

In [ ]:
## 기본 출력 함수
# 기본적인 output 함수
print('hello world!')
print("hello world!")

# Separator, End 옵션
print("H","E","L","L","O",sep=" - ")
print("2022","01","01",sep=" - ")
print("yewonpark","hanyang.ac.kr",sep="@")

print("Welcome!",end="") 
print("welcome?",end="") #일렬로 출력됨
print("Python")
print("Python3")

# format 형식 출력 [] , {} , ()
print('{} and {}!'.format('you','me')) # dot(.)은 해당 함수의 내부 기능을 사용하겠다는 뜻으로 먼저 이해
print('{0} and {1} and {0}'.format('you','me'))
print('{a} and {b} !!'.format(a='you', b='me'))

# format을 사용해서 구구단 출력 (2,3단만)
for a in range(2, 4):       # 앞에 표시하는 단 수 (2단, 3단)
    for b in range(1, 10):  # 뒤에 곱하는 수
        print('{0} x {1} = {2:2}'.format(a, b, a*b))

# 직접 대입하기
s1 = 'name : {0}'.format('BlockDMask')
print(s1)
 
 
# 변수로 대입 하기
age = 55
s2 = 'age : {0}'.format(age)
print(s2)
 
# 이름으로 대입하기
s3 = 'number : {num}, gender : {gen}'.format(num=1234, gen='남')
print(s3)

# 문자열 정렬하기
"""
{0:<10} : {0} 값을 ":<10" 10자리로 표현할건데 왼쪽 정렬을 할 것이다.
{1:>5} : {1} 값을 ":>5" 5자리로 표현할건데 오른쪽 정렬을 할 것이다.
"""
# 왼쪽 정렬
s9 = 'this is {0:<10} | done {1:<5} |'.format('left', 'a')
print(s9)
 
# 오른쪽 정렬
s10 = 'this is {0:>10} | done {1:>5} |'.format('right', 'b')
print(s10)
 
# 가운데 정렬
s11 = 'this is {0:^10} | done {1:^5} |'.format('center', 'c')
print(s11)

hello world!
hello world!
H - E - L - L - O
2022 - 01 - 01
yewonpark@hanyang.ac.kr
Welcome!welcome?Python
Python3
you and me!
you and me and you
you and me !!
2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 =  3
3 x 2 =  6
3 x 3 =  9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
name : BlockDMask
age : 55
number : 1234, gender : 남
this is left       | done a     |
this is      right | done     b |
this is   center   | done   c   |

In [ ]:
"""
type() 은 데이터의 자료형을 출력 해 주는 함수
"""
my_var = 100
print(type("name"))
print(type(my_var))

<class 'str'>
<class 'int'>

In [ ]:
# Boolean
my_bool = True
your_bool = False

print(my_bool)
print(your_bool)

a = 100
b = 200
print(a > b) # a가 b보다 크다
print(a < b) # b가 a보다 크다
print(a >= b) # a가 b보다 크거나 같다
print(a <= b) # b가 a보다 크거나 같다
print(a == b) # a와 b가 같다 ------>  = : 왼쪽 변수에 오른쪽 데이터를 대입 / == : 양쪽 비교
print(a != b) # a와 b가 다르다

True
False
False
True
False
True
False
True

In [ ]:
# 문자열
my_name = 'paul'
your_name = 'tiger'

print(my_name)
print(len(my_name))

my_multi = """
이래도
출력이
되나요?
"""

print(my_multi)

a = 'testword'
b = 'gamza'

print(a.islower()) # a가 소문자인가요
print(b.endswith('a')) # 알파벳 a로 끝나나요
print(a.capitalize())
print(b.replace("g","n"))

paul
4

이래도
출력이
되나요?

True
True
Testword
namza

In [ ]:
# List []
# 배열, 나열된 데이터, 데이터 모음
a = []
b = list()

my_company = ["구글","삼성","LG","1",2,3]
my_number = [1,2,3,4,5]

# 인덱스 !? -> 각 값에 대한 위치 정보
# 시작은 0
print(my_company)
print(my_company[1])

print(my_company + my_number)
print(my_company * 2) # 곱하기는 반복해줌

my_company[0] = "한양"
print(my_company)

del my_company[0]
print(my_company)

y = [5,2,3,1,4]
print(y)
y.append(7) # append: 데이터 추가 (있는 그대로)
print(y)
y.sort() # sort: 데이터 정렬
print(y)
y.reverse() # reverse: 역으로 정렬
print(y)
y.remove(2)
print(y)
x = [100, 200]
y.extend(x) # 뒤에 x 추가 (y+x와 동일)
print(y)
y.append(x)
print(y)

['구글', '삼성', 'LG', '1', 2, 3]
삼성
['구글', '삼성', 'LG', '1', 2, 3, 1, 2, 3, 4, 5]
['구글', '삼성', 'LG', '1', 2, 3, '구글', '삼성', 'LG', '1', 2, 3]
['한양', '삼성', 'LG', '1', 2, 3]
['삼성', 'LG', '1', 2, 3]
[5, 2, 3, 1, 4]
[5, 2, 3, 1, 4, 7]
[1, 2, 3, 4, 5, 7]
[7, 5, 4, 3, 2, 1]
[7, 5, 4, 3, 1]
[7, 5, 4, 3, 1, 100, 200]
[7, 5, 4, 3, 1, 100, 200, [100, 200]]

In [ ]:
# Tuple ()
# 리스트와 동일 -> 수정/삭제가 불가능 -> 일반적으로 변경되면 안 되는 정보를 넣어둠

v_tuple = 1, 5, 7

a = ()
b = (1,)
c = (1, 2, 3, 4)

print(a)
print(b)
print(c)
print(c[0])

()
(1,)
(1, 2, 3, 4)
1

In [ ]:
# Dictionary/Dict {}

a = dict()
b = {}

# key: value
my_data = {
    "name" : "홍길동",
    "age" : 20,
}

# dict 출력
print(my_data)
print(my_data['name'])
print(my_data['age'])
# print(my_data['phone'])
print(my_data.get('phone')) # None
print(my_data.get('address','한양대학교'))

# dict 값 추가
my_data['city'] = "성남"
print(my_data)

# 함수
print(my_data.keys())
print(list(my_data.keys()))

print(my_data.values())
print(list(my_data.values()))

print(my_data.items())

{'name': '홍길동', 'age': 20}
홍길동
20
None
한양대학교
{'name': '홍길동', 'age': 20, 'city': '성남'}
dict_keys(['name', 'age', 'city'])
['name', 'age', 'city']
dict_values(['홍길동', 20, '성남'])
['홍길동', 20, '성남']
dict_items([('name', '홍길동'), ('age', 20), ('city', '성남')])

In [ ]:
# set 자료형
# 집합 -> 중복x, 순서상관 x
# 데이터 중복 제거하는 데에도 많이 사용

a = set()
b = set([1,2,3,4,5])
c = set([4,5,6,7,8,8,9])

print(type(a))
print(b)
print(list(b))
print(tuple(b))

print(b.intersection(c)) # b와 c의 교집합
print(b & c) # shift + 7, 교집합
print(b.union(c)) # 합집합
print(b | c) # shit + \, 합집합
print(b.difference(c)) # 차집합
print(b - c) # 차집합

b.add(100)
b.remove(4)

<class 'set'>
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{4, 5}
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}